/*Transiciones*/
#logo{
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    
    &:hover{
        transform: scale(1.1);
    }
}
/*Animaciones*/
@keyframes rotate{
    0%{
        transform: rotate(0deg)
    }
    25%{
        transform: rotate(10deg)
    }
    75%{
        transform: rotate(-10deg)
    }
    100%{
        transform: rotate(0deg)
    }
}
#mainImage{
    padding: $paddingMain;

    animation-name: rotate;
    animation-iteration-count: 3;
    animation-timing-function: ease;
    animation-duration: 3s;
}

