/*Propiedades del nav*/
nav{
    @include links;
    #navbarNav{
        background-color: $color-tertiary;
    }
}
/*Sobreescriben el Bootsrap*/
.color-red{
    color: $color-primary !important;
}
.custom-width-logo-nav{
    width: 40vw !important;
}