@import "variables";
@import "animaciones";
@import "body";
@import "header";
@import "nav";
@import "footer";
@import "responsive";

/*Main Index*/
main{
    width: 100vw;
    padding: $spacing*0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        margin: $spacing*10 0px 0px 0px;
        width: 100vw;
    }

}
/*Main About Me*/
main.aboutMe{
    .aboutMeSection{
    padding: $paddingMain;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 

    p{
        padding: $spacing*4;
        max-width: 100vw;
        text-align: justify;
    }
    img{
        width: 80vw;
    }
    }
}
/*Main Milestones*/
main.milestones{
    padding: $paddingMain;

    display: flex;
    align-items: center;
    justify-content: center;

    .highlightEvent{
        margin: $spacing*0;
    }

    /*Propiedades del acordion*/
    /*Sobreescriben Bootsrap*/
    .accordion{
        padding: $paddingMain;
    }
    .accordion-button{
        color: $color-primary;
        &:not(.collapsed){
            color: $color-primary;
            background-color: $color-tertiary;
            box-shadow: inset 0 -1px 0 rgba(171, 255, 46, 0.5);
            &::after{
                filter: invert(11%) sepia(93%) saturate(5528%) hue-rotate(4deg) brightness(111%) contrast(123%);
            }
        }
        &:focus{
            border-color: $color-tertiary;
            box-shadow: 0 0 0 0.25rem rgba(171, 255, 46, 0.5);
        }
    }
}
/*Main Fashion*/
main.fashion{
    padding: 110px 0px 45px;
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        .fashionProjectText{
            text-align: left;
            margin: $spacing*8;
            max-width: 90vw;

            display: flex;
            flex-direction: row;
            align-items: center;
            h1{
                margin: $spacing;
            }
            p{
                margin: $spacing*0;
            }
        }
        div.singlePhoto img{
            margin: 0px;
            width: 100vw;
        }
        div.groupPhoto{
            max-width: 100vw;

            display: flex;
            justify-content: space-between;
            img{
                margin: 0px;
                min-width: 33.4vw;
            }
        }
    }
}
/*Main Graphic*/
main.graphic{
    padding: $spacing*7 0px $spacing*9;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    .text{
        padding: $spacing*4;
    }
}