.webContent{
    padding: 0;
    margin: 0;
}
/*Propiedades de los links*/
a:link{
    text-decoration: none;
}
a:visited{
    color: #ff0000;
}
/*Propiedades del body*/
body{
    background-color: white;   
    color: #ff0000;
    font-family: Manrope, Arial, Helvetica, sans-serif; 
    font-size: 1em;
}
h3{
    font-weight: 300;
}
.bodyIndex, .bodyAboutMe, .bodyMilestones {
    background-image: url(public/STARS-BACKGROUNDSTARS-BACKGROUND.gif);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*Propiedades del header Index*/
header{
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.index img{
    width: 100vw;
}
/*Propiedades del nav*/
.color-red{
    color: #ff0000 !important;
}
.custom-width-logo-nav{
    width:40vw !important;
}
/* Transiciones y animaciones */
#logo{
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
#logo:hover{
    transform: scale(1.1);
}
@keyframes rotate{
    0%{
        transform: rotate(0deg)
    }
    25%{
        transform: rotate(10deg)
    }
    75%{
        transform: rotate(-10deg)
    }
    100%{
        transform: rotate(0deg)
    }
}
#mainImage{
    padding: 150px 0px 45px;

    animation-name: rotate;
    animation-iteration-count: 3;
    animation-timing-function: ease;
    animation-duration: 3s;
}
/*Propiedadesd del main*/
main{
    width: 100vw;
}
/*Propiedadesd del main About Me*/
main.aboutMe{
    padding: 100px 0px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}
main.aboutMe p{
    text-align: justify;
    padding: 20px 20px;
    max-width: 100vw;
    font-size: 12px;
}
main.aboutMe img{
    max-width: 90vw;
}
/*Propiedades del boton*/
.btn-primary{
    background-color: #ff0000;
    border-color: #ff0000;
}
.btn-primary{
    background-color: #ff0000;
    border-color: #ff0000;
}
.btn-primary:active{
    background-color: #ff0000;
    border-color: #ff0000;
}
.btn-primary:focus{
    background-color: #ff0000;
    border-color: #ff0000;
    box-shadow: 0 0 0 0.25rem rgb(173 255 57 / 50%);
}
.btn-primary:hover{
    background-color: greenyellow;
    border-color: greenyellow;
    color: #ff0000;
}
.btn-primary:active:focus{
    box-shadow: 0 0 0 0.25rem greenyellow;
}
.socialLink{
    text-align: center;
    font-weight: bolder;
}
div .card{
    border-color: #ff0000;
}
/*Propiedades del main Milestones*/
main.milestones{
    padding: 175px 0px 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.highlightEvent{
    margin: 0px;
}
/*propiedades del acordion*/
.accordionCustomText{
    font-weight: bolder;
    font-size: 2rem;
    color: #ff0000;
}
.accordion-button:not(.collapsed) {
    color: red;
    background-color: rgb(232, 245, 212);
    box-shadow: inset 0 -1px 0 rgb(173 255 57 / 50%);
}
.accordion-button:focus {
    border-color: rgb(232, 245, 212);
    box-shadow: 0 0 0 0.25rem rgb(173 255 57 / 50%);
}
/*Propiedades del mainFashion*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fashionProjectText{
    text-align: left;
    margin: 40px;
    max-width: 90vw;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.fashionProjectText h1{
    margin: 5px;
    font-size: 70px;
}
.fashionProjectText p{
    margin: 0px;
    font-size: 0.5rem;
}
/*propiedades para las galerias de imagenes*/
div.singlePhoto img{
    width: 100vw;  
}
div.groupPhoto{
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
}
div.groupPhoto img{
    min-width: 33.4vw;  
}
/*Propiedades del mainGraphic*/
main.graphic {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}
main.graphic h1{
    padding: 20PX 10px 5px;
    font-weight: 700;
    font-size: 1.5rem;
}
main.graphic p{
    font-size: 0.75rem;
    font-weight: 200;
    max-width: 90vw;
    margin: 0px 0px 20px 0px;
}
/*Propiedades del footer*/
footer{
    padding: 20px;
    font-size: 0.55rem ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formComplete{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-form-padding{
    padding: 5px;
}

/*       Acá empieza el responsive desde 768px       */
@media screen and (min-width:768px){
/*Nav responsive*/
    .custom-width-logo-nav{
    width: 14vw !important;
    }
    nav ul{
        width: 30vw;
    }
/*Body Index responsive 768px*/
    .index img{
        width: 80vw;
    }
/*Body Milestones responsive 768px*/
    .bodyMilestones{
        background-image: url('public/alien.png');
        background-size: 500px;
        background-repeat: repeat;
    }
/*Main Index responsive 768px*/
    #mainImage{
        padding: 200px 0px 45px;
    }
/*Main About Me responsive 768px*/
    main.aboutMe{
        padding: 200px 0px 30px;
    }
    .aboutMeSection{
        width: 100vw;

        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    main.aboutMe p{
        max-width: 50vw;
    }
    main.aboutMe img{
        max-width: 30vw;
    }
/*Boton About*/
    .aboutButton{
        margin: 40px;
    }
/*Main Milestones responsive 768px*/
    main.milestones{
        padding: 280px 0px 125px;
    }
/*Main Graphic responsive 768px*/
main.graphic h1{
    padding: 80px 50px 0px;
    font-weight: 700;
    font-size: 4rem;
}
main.graphic p{
    font-size: 1rem;
    max-width: 90vw;
    margin: 40px 0px 60px;
}
/*Main Fashion responsive 768px*/
    .fashionProjectText{
        padding: 30px;
        max-width: 70vw;
    }
    .fashionProjectText h1{
        font-size: 90px;
    }
    .fashionProjectText p{
        margin: 0px;
        font-size: 12px;
    }
/*Footer responsive 768px*/
    footer {
        font-size: 0.75rem;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .formComplete{
        width: 70vw;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .knowMore{
        grid-area: knowMore;
    }
    .formName{
        grid-area: formName;
    }
    .formEmail{
        grid-area: formEmail;
    }
    .formSend{  
        grid-area: formSend;
    }
}


/*      Acá empieza el responsive desde 1440px      */
@media screen and (min-width:1440px){
/*Nav responsive 1440px*/
    nav ul{
        padding: 20px;
    }
    nav ul.left{
        font-size: 1rem;
    }
    nav ul.right{
        font-size: 1rem;
    }
    nav ul.center{
        font-size: 1rem;
    }
    nav ul.center li a img{
        width: 12vw;
    }
/*Body Index responsive 768px*/
.index img{
    width: 60vw;
}
/*Footer responsive 1440px*/
footer{
    font-size: 1rem;
    } 
}